/* Media queries */
@media (max-width: 1680px) {
  header {
    height: 224px;
  }
  header h1 {
		font-size: 59px;
	}
	header span {
		font-size: 15px;
	}

	/* Main */
	main {
		max-width: 1170px;
	}
	/* Presentation section*/
	.presentation .presentation-header {
			height: 200px;
			padding: 59px 30px;
	}
	.presentation-header h2 {
		font-size: 26px;
	}
	.presentation-header p {
			font-size: 11px;
	}

	.presentation-text {
		padding: 88px;
	}
	.presentation-text p {
		font-size: 14.6666px;
	}
	.presentation-text p:first-of-type {
		margin-bottom: 30px;
	}

	/* Gallery section */
	main .gallery {
		padding: 88px;
	}

	/* Spotlight section */
	.spotlight .spotlight-header {
		padding: 88px;
	}
	.spotlight .spotlight-header h3 {
		font-size: 19.8px;
		margin-bottom: 17.3333px;
	}
	.spotlight .spotlight-header p {
		font-size: 14.6666;
	}

	/* Footer */
	footer {
		height: 190px;
		padding: 20px 0;
	}
	footer ul li {
		padding: 0 2px;
	}
	footer img {
		transform: scale(0.7);
	}
	footer p {
		font-size: 13.2px;
		margin-bottom: 30px;
	}
}
  
@media (max-width: 1310px) {
	main {
		max-width: 90%;
	}
}

@media (max-width: 1280px) {
	header {
		height: 192px;
	}
	header .logo {
		top: 34%;
	}

	/* Gallery section */
	main .gallery {
		padding: 59px;
	}
	main .gallery-header {
		padding: 30px;
	}
	main .gallery-header h2 {
		font-size: 26px;
		margin-bottom: 20px;
	}
	main .gallery-header p {
		font-size: 12px;
	}

	/* Spotlight section */
	.spotlight .spotlight-header {
		padding: 130px 58.6666px;
	}
	.spotlight .spotlight-header h3 {
		margin-bottom: 14.6666px;
	}

	/* Footer */
	footer p {
		font-size: 13.2px
	}
}
  
@media (max-width: 980px) {
	body {
		background-position: top;
		background-size: contain;
	}
	header {
		height: 215px;
	}
	header h1 {
		font-size: 64px;
	}
	header span {
		font-size: 16px;
	}

	/*Main*/

	/* Presentation section*/
	.presentation .presentation-header {
			padding: 48px 32px;
	}
	.presentation-header h2 {
			font-size: 28px;
	}
	.presentation-header p {
			font-size: 12.8px;
	}
	.presentation-text {
		padding: 64px;
	}
	.presentation-text p:first-of-type {
		margin-bottom: 32px;
	}

	/* Gallery section */
	main .gallery {
		padding: 64px;
	}
	main .gallery .gallery-grid {
		grid-template: repeat(4, auto) / 1fr;
		grid-template-areas: "gallery-header"
												 "gallery1"
												 "gallery2"
												 "gallery3"
												 "gallery4";
	}
	main .gallery-header {
		padding: 32px;
	}
	main .gallery-header h2 {
		font-size: 28px;
		margin-bottom: 25px;
	}
	main .gallery-header p {
		font-size: 12.8px;
	}

	/* Spotlight section */
	main .spotlight {
		grid-template: repeat(6, auto) / 1fr;
		grid-template-areas: "image1"
												 "header1"
												 "image2"
												 "header2"
												 "image3"
												 "header3";
	}
	.spotlight .spotlight-header {
		padding: 64px;
		text-align: center;
	}
	.spotlight .spotlight-header .inner {
		position: static;
		transform: unset;
		padding: unset;
	}
	.spotlight .spotlight-header h3 {
		font-size: 21.6px;
		margin-bottom: 16px;
	}
	.spotlight .spotlight-header p {
		font-size: 16px;
	}
}
  
@media (max-width: 736px) {
	header {
		height: 175px;
	}
	header .logo {
		top: 45%;
	}
	header h1 {
		font-size: 48px;
	}
	header span {
		font-size: 16px;
	}

	/*Main*/

	/* Presentation section*/
	.presentation .presentation-header {
		padding: 48px 32px;
		height: 180px;
	}
	.presentation-header h2 {
		font-size: 24px;
	}
	.presentation-header p {
		font-size: 12.8px;
	}
	.presentation-text {
		padding: 32px;
	}
	.presentation-text p {
		font-size: 16px;
	}

	/* Gallery section */
	main .gallery {
		padding: 32px;
	}
	main .gallery-header {
		padding: 24px;
	}
	main .gallery-header h2 {
		font-size: 24px;
	}

	/* Spotlight section */
	footer {
		padding: 20px 20px;
	}
	.spotlight .spotlight-header {
		padding: 32px;
	}
}