@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
/* Font reference: font-family: 'Poppins', sans-serif; */

* {
  box-sizing: border-box;
  font-size: 11pt;
  margin: 0;
  padding: 0;
}
body {
  background-attachment: fixed;
  background-color: #1A1A1E;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
}
/* Header */
header {
  height: 269px;
  line-height: 1;
}
header .logo {
  color: #FFF;
  position: relative;
  text-align: center;
  top: 42%;
}
header h1 {
  bottom: 50px;
  font-size: 70px;
  font-weight: 700;
}
header span {
  display: block;
  font-size: 18px;
  font-weight: 300;
  opacity: 0.6;
}

/* Main */
main {
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 12px black;
  display: grid;
  grid-template: repeat(4, auto) / 1fr;
  grid-template-areas: "header-image"
                       "presentation"
                       "gallery"
                       "spotlight";
  margin: 0 auto;
  max-width: 1390px;
}

/* Header image section*/
main .header-image {
  grid-area: "header-image";
}
.header-image img{
  height: auto;
  width: 100%;
}

/* Presentation section*/
main .presentation {
  grid-area: "presentation";
}
.presentation .presentation-header {
  background-color: #FFF;
  height: 240px;
  padding: 69px 35px;
  text-align: center;
}
.presentation-header h2 {
  font-size: 30px;
  margin-bottom: 30px;
  position: relative;
}
.presentation-header h2::after {
  background-color: #d8d8d8;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  margin-top: 10px;
  position: absolute;
  transform: translateX(-50%);
  width: 111px;
}
.presentation-header p {
  color: #B6B6B6;
  font-size: 14px;
  letter-spacing: 4px;
}

.presentation-text {
  background-color: #F5F5F4;
  color: #B6B6B6;
  padding: 104px;
}
.presentation-text p {
  font-size: 17.3333px
}
.presentation-text p:first-of-type {
  margin-bottom: 35px;
}

/* Gallery section*/
main .gallery {
  background-color: #1E1F23;
  padding: 104px;
}
.gallery .gallery-grid {
  display: grid;
  grid-template: repeat(3, auto) / 1fr 1fr;
  grid-template-areas: "gallery-header gallery-header"
                       "gallery1 gallery2"
                       "gallery3 gallery4";
  height: auto;
  width: 100%;
}
.gallery-grid .gallery-header {
  background-color: #121315;
  grid-area: gallery-header;
  padding: 35px;
  text-align: center;
}
.gallery-header h2 {
  color: white;
  font-size: 31px;
  margin-bottom: 30px;
}
.gallery-header p {
  color: #6b6b6b;
  font-size: 14px;
  letter-spacing: 4px;
}
.gallery-grid img {
  cursor: pointer;
  height: auto;
  width: 100%;
}
.gallery-grid .gallery-1 {
  grid-area: gallery1;
}
.gallery-grid .gallery-2 {
  grid-area: gallery2;
}
.gallery-grid .gallery-3 {
  grid-area: gallery3;
}
.gallery-grid .gallery-4 {
  grid-area: gallery4;
}

/* Spotlight section */
main .spotlight {
  display: grid;
  grid-template: repeat(3, auto) / 1fr 1fr;
  grid-template-areas: "image1 header1"
                       "header2 image2"
                       "image3 header3";
}
.spotlight img {
  height: auto;
  width: 100%;
}
.spotlight .spotlight-header {
  padding: 104px;
  position: relative;
}
.spotlight .inner {
  padding-right: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.spotlight .spotlight-header h3 {
  font-size: 23.4px;
  margin-bottom: 17.3333px;
}
.spotlight .spotlight-header p {
  color: #A7A7A7;
  font-size: 17.3333px;
}
.spotlight .image-1 {
  grid-area: image1;
}
.spotlight .header-1 {
  background-color: #F8F7F6;
  grid-area: header1;
}
.spotlight .header-2 {
  background-color: #1E1F23;
  color: #FFF;
  grid-area: header2;
  text-align: right;
}
.spotlight .header-2 p {
  color: #5A5A5A;
}
.spotlight .image-2 {
  grid-area: image2;
}
.spotlight .image-3 {
  grid-area: image3;
}
.spotlight .header-3 {
  background-color: #F8F7F6;
  border-bottom-right-radius: 5px;
  grid-area: header3;
}

/* Footer */
footer {
  color: #FFF;
  height: 224px;
  padding: 40px 0;
  text-align: center;
}
footer ul {
  left: 50%;
  padding: 40px 0;
  position: relative;
  transform: translateX(-50%);
  width: max-content;
}
footer ul li {
  display: inline-block;
  padding: 0 5px;
}
footer img {
  filter: opacity(70%);
  transition: all 0.3s ease-out;
  transform: scale(0.8);
}
footer img:hover {
  filter: unset;
}
footer p {
  color: #a8a8a8;
  font-size: 15.6px;
}
footer p a {
  text-decoration: underline;
}